.upload-dropzone {
    border: 2px dashed #14a7d6;
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    color: #555;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #f9f9f9;

    &.dragover {
        background-color: #e6f7ff;
        border-color: #0f8ab2;
    }

    p {
        margin: 0;
        font-size: 16px;
    }
}

.upload-dropzone:hover {
    background-color: #e6f7ff;
    border-color: #0f8ab2;
}