@import 'src/styles/variables';

.sidebar {
    width: 200px;
    height: 100%;
    background-color: $sidebar-bg;
    color: $sidebar-text;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
}

.sidebar a {
    color: $sidebar-text;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.sidebar a.active,
.sidebar a:hover {
    background-color: $sidebar-hover;
}