.designations-container {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.table-wrapper {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ddd;
}

.designations-table tr {
    height: 50px;
}

.designations-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th,
    td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        position: sticky;
        top: 0;
        background-color: #14a7d6;
        color: white;
        font-weight: bold;
        z-index: 2;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #ddd;
    }

    td {
        font-size: 14px;
        text-transform: capitalize;
    }
}

.designations-table td {
    text-transform: capitalize;
}