@import './styles/variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--color-border) var(--color-bg);
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    --color-bg: #{$color-bg-light};
    --color-card: #{$color-card-light};
    --color-text: #{$color-text-light};
    --color-primary: #{$color-primary-light};
    --color-accent: #{$color-accent-light};
    --color-border: #{$color-border-light};
    --color-hover: #{$color-hover-light};
    --color-alt-row: #{$color-alt-row-light};
    --shadow: #{$shadow-light};
    --navbar-bg: #{$navbar-bg-light};
    --navbar-text: #{$navbar-text-light};
    --sidebar-bg: #{$sidebar-bg-light};
    --sidebar-text: #{$sidebar-text-light};
    --sidebar-hover: #{$sidebar-hover-light};
    --separator-bg: #{$separator-bg-light};
    --separator-color: #{$separator-color-light};
    --separator-primary: #{$separator-primary-light};
    background-color: var(--color-bg);
    color: var(--color-text);
}

body.dark-mode {
    --color-bg: #{$color-bg-dark};
    --color-card: #{$color-card-dark};
    --color-text: #{$color-text-dark};
    --color-primary: #{$color-primary-dark};
    --color-accent: #{$color-accent-dark};
    --color-border: #{$color-border-dark};
    --color-hover: #{$color-hover-dark};
    --color-alt-row: #{$color-alt-row-dark};
    --shadow: #{$shadow-dark};
    --navbar-bg: #{$navbar-bg-dark};
    --navbar-text: #{$navbar-text-dark};
    --sidebar-bg: #{$sidebar-bg-dark};
    --sidebar-text: #{$sidebar-text-dark};
    --sidebar-hover: #{$sidebar-hover-dark};
    --separator-bg: #{$separator-bg-dark};
    --separator-color: #{$separator-color-dark};
    --separator-primary: #{$separator-primary-dark};
    background-color: var(--color-bg);
    color: var(--color-text);
}

/* Style de la scrollbar pour tous les navigateurs compatibles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-border);
    border-radius: 10px;
    border: 2px solid var(--color-bg);
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primary);
}